div > div {
    /*border: 1px solid;*/
    width: 300px;
    height: 300px;
}

main {
    display: flex;
    justify-content:baseline;
}

.button-ligth {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.trafic-ligth {
    display: flex;
    justify-content:baseline;
    margin-top: 80%;
}

.car {
    width: 50px;
    height: 50px;
    margin-left: 180px;
    margin-top: 100px;
    background-color: black;
    color: white;

}

.car-anim {
    animation-name: car;
    animation-duration: 4s;
    animation-direction: alternate;
    position: relative;
}

@keyframes car {
    
    0%   {left:0px; bottom:0px;}
    10%  {left:0px; bottom:50px;}
    20%  {left:0px; bottom:100px;}
    30%  {left:0px; bottom:200px;}
    40% {left:0px; bottom:500px;}

    80%   {left:-150px; bottom:500px;}
    90% {left:-150px; bottom:0px;}
    100% {left:0px; bottom:0px;}
    

}