ul {
  display: block;
  list-style: none;
}

.item {
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

#circle {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: -600px;
  transition: all 0.5s ease;
  opacity: 0;
}
