body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.modal{
  background-color: grey;
  display: block;
   
}
.modal-content{
  width: 170px;
  background-color: grey;
  position: absolute;
  top: 30%;
  left: 45%;
  border-color: black;
  border-style: double;
}