ul.myUL {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
div.List{
  margin: auto;
  width: 50%;
  padding: 10px;
  background: #ffe5e5;
}
div.Menu{
  margin: auto;
  width: 50%;
  padding: 10px;
  background: green;
}
button.show {
  position: fixed;
	left: 47.5%;
}
button.add {
  position: relative;
	left: 55%;
}
button.del {
  position: relative;
	left: 56.5%;
}