.maindiv{
  width: 50%;
  margin:auto;
  border-style: solid;
  width: 300px;
  height: 405px;

}
.nameInput{
  float: right;
  border: 0;
  background-color: azure;
}
.surenameInput{
  float: right;
  border: 0;
  background-color: azure;
}
.univercityList{
  float: right;
  border: 0;
  background-color: azure;
}
.mySelect{
  float: right;
  border: 0;
  background-color: azure;
}
.emailInput{
  float: right;
  border: 0;
  background-color: azure;
}
.phoneInput{
  float: right;
  border: 0;
  background-color: azure;
}
.myList{
  float: right;
  border: 0;
  background-color: azure;
}
.textareaArea{
  display: flex;
  justify-content:center;
  background-color: azure;
}
.textAreaDiv{
  display: flex;
  justify-content:center;
}
.textAreaDiv2{
  display: flex;
  justify-content:center;
}
.registerButtn{
  float : left;
}
.cancelButtn{
  float : right;
}
.RegisterForm{
  border-style: solid;
  position: absolute;
  top: 250px;
  left: 350px;
  z-index: 1;
}
.rec{
  margin: 0%;
  width: 130px;
}
.closeFormButtn{
  float:right;
}
.rec2{
  width: auto;
  height: auto;
}
.CancelButtn{
  float: right;
}
.RegButtn{
  display: flex;
  justify-content:center;
  top: 250px;
  left: 350px;
}